// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Override Bootstrap here
//

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: #150e06;
/*$body-bg: lightslategrey;*/

//
//Custom Fonts
//
/*font-family: 'Amatic SC', cursive;*/
/*font-family: 'Andika', sans-serif;*/
/*font-family: 'Fredericka the Great', cursive;*/
/*ffont-family: 'Sacramento', cursive;*/

//
//Custom Colors
//
$marron: #3C3642;
$naranja: #FF7E57;
$verde: #87806D;
$azul: #73A1B0;
$amarillo: #FEC240;
$claro: #F8EFB6;
$negro: #150e06;

body {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAEElEQVQYlWNgGHzg/wDYCQB0lAEAYNZ6IAAAAABJRU5ErkJggg==) repeat; 
  /*background-color: #343B38;*/
  background-color: #23444B;
  font-family: 'Andika', sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
  color: $amarillo;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: $claro;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
  color: $claro;
}

.navbar a {
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
}

nav.navbar {
  background-color:rgba(24, 21, 26, .9);
  border-bottom: solid greenyellow 1px;
}

.awayFromNav {
  margin-top: 6rem;
}

h1 {
  color: $amarillo;
  font-size: 3rem;
}

h1,h2 {
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
}

h2 {
  font-size: 2.3rem;
  color: $claro;
}

a {
  color: $claro;
    &:hover {
      color: $amarillo;
      text-decoration: none;
    }
}


p {
  text-align: justify;
  text-align-last: center;
  font-size: 1.5rem;
  color: whitesmoke;
}

#emailMessage {
  color: $negro !important;
}


.charDesign img {
  border-radius: 5px;
}

footer {
  margin-top: 4rem;
  color: whitesmoke;
  text-align: center;
  background: linear-gradient(to right, rgba(106,130,251,0.4), rgba(252,92,125,0.4));
  /*background: linear-gradient(to right, #8360c3, #2ebf91);*/
}

h3 {
  font-family: 'Abel', sans-serif;
  font-size: 2rem;
  margin-top: 3rem;
  color: $claro;
}

.zoom img {
  border-radius: 5px
}


.zoom img {
  transition: transform 1s;
  transform-origin: top;
  &:hover {
    transform: scale(1.5);
  }
}

.zoom td>img{
  transition: transform .2s;
  border-style: dashed;
  color: $negro;
  &:hover {
    transform: scale(1.4);
  }
}

.zoom th,td {
  color: $amarillo;
}

.zoom iframe {
  margin-top: 2rem;
}

.zoom th,td {
  color: $amarillo;
}


.flicker-in-1 {
	animation: flicker-in-1 2s linear both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-25 3:21:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation flicker-in-1
 * ----------------------------------------
 */
 @keyframes flicker-in-1 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  10.1% {
    opacity: 1;
  }
  10.2% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
  }
  77% {
    opacity: 0;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
  }
  86% {
    opacity: 0;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
